html, body {
  margin: 0;
  padding: 0;
  background: #111;
  color: #eee;
  font-family: monospace;
}

h1 {
  font-family: sans-serif;
}

button, .stats {
  font-size: 24px;
}

.stats.stats-debug {
  color: #ddd;
  float: right;
  text-align: right;
}
