
html, body {
  margin: 0;
  padding: 0;
  background: #111;
  color: #eee;
  font-family: monospace;
  user-select: none;
}

h1 {
  font-family: sans-serif;
}

button, .stats {
  font-size: 24px;
}

.stats.stats-debug {
  color: #ddd;
  float: right;
  text-align: right;
}

.btn {
  background: #ddd;
  border: 1px solid #999;
  color: black;
  padding: 5px 10px;
  border-radius: 3px;
  cursor: pointer;
  display: inline-block;
  margin: 5px;
  cursor: pointer;
}

.btn:hover {
  background: #ccc;
}

.btn:active {
  background: #aaa;
}

.btn.is-disabled {
  color: #888;
  cursor: default !important;
  background: #ddd !important;
}
